<% if schools.any? %>
  <ul id="schools_list" class="schools-list" data-search-target="results">
    <% schools.each do |school| %>
      <li><%= school.name %></li>
    <% end %>
  </ul>
<% else %>
  <p>No schools found.</p>
<% end %>
