<form class="search-form">
  <label for="ingredients">Enter search:</label><br>
  <input type="text" name="search" placeholder="Escola Infantil" value="<%= params[:search] %>" >
  <div class="button-group">
    <button type="submit" class="submit-button">Search</button>
    <a href="/" class="reset-button" >Reset</a>
  </div>
</form>
