<h1>Schools</h1>

<%= render partial: "search_form" %>

<%= turbo_frame_tag "schools" do %>
  <%= render partial: 'schools/schools_list', locals: { schools: @schools } %>
<% end %>

<%= render partial: 'schools/map', locals: { markers: @markers } %>
